.lk img{
    width: 25%;
}
.header{
    display: inline-flex;
    padding-top: 20px;
    justify-content: center;
    
}
.link a{
    font-size: 10px;
    text-decoration: none;
    color: #1c2e4f;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-left: 10px;
}

