@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Reddit+Mono:wght@200..900&display=swap');
.lk img{
    width: 25%;
}
.header{
    display: flex;
    padding-top: 20px;
    
}
.link a{
    font-size: 11px;
    text-decoration: none;
    color: #1c2e4f;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    padding-left: 10px;
}
.link{
    margin-right: 30px; 
}
.icon img{
    width: 15px;
    padding-left: 13px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    padding-right: 13px;
    margin-left: 20px;
}
.link a:hover{
    color: #ac742c;
    border-bottom: 1px solid #ac742c;
}
.slideshow-container img{
    width: 100%;
    padding-top: 20px;
}
.text{
    color: white;
    position: absolute;
    left: 1%;
    top: 50%;
    padding: 1px;
    text-align: left;
    font-size: 25px;
    border: none;
   
}
.text h3{
    text-shadow: 2px 2px  #ac742c;
}
.text a{
    text-decoration: none;
    border: 1px solid black;
    color: white;
    background-color: #0c2444;
    outline: 5px solid #0c2444;
    margin-left: 30px;
    padding: 15px;
    font-size: 20px;
}
.text a:hover{
    background-color: #ac742c;
    color: #1c2e4f;
}  
.text a:active{
    color: black;
    background-color: white;
}
